<!DOCTYPE html>
<html>

<head>
    <title>Delete data</title>
    <link rel="stylesheet" href="{{url_for('static', filename='styles/delete.css')}}">
</head>

<body>
    <h1>Delete data</h1>

    {% if notice%}
    <script>
        function showAlert() {
            var alertSuccessMessage = "Deleted";
            var alertErrorMessage = "Error";
            var notice = "{{notice}}"
            if (notice === "1") {
                alert(alertSuccessMessage);
            } else {
                alert(alertErrorMessage);
            }
        }
    </script>
    {% endif %}
    <form method="POST" action="/delete">
        <input type="text" id="name" name="name" placeholder="Name" required><br><br>
        <input type="submit" value="Delete" onclick="showAlert()">
    </form>
    <button type="submit"
        style="background-color: aqua; font-family: 'Courier New', monospace;padding: 10px;margin: 5px;border: none;color: #0F0;"><a
            href="/">Trang chu</a></button>
</body>

</html>