<!DOCTYPE html>
<html>
<head>
    <title>Quản lý học viên</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles/menu.css')}}">
</head>
<body>
    <div class="header">
        <h1>Quản lý học viên</h1>
        <div class="menu">
            <ul>
                <li><a href="/add">Thêm</a></li>
                <li><a href="/students_list">Hiển thị</a></li>
                <li><a href="/delete">Xóa</a></li>
                <li><a href="#">Tìm kiếm</a></li>
                <li><a href="#">Sắp xếp</a></li>
            </ul>
        </div>
    </div>
    
    <div class="content">
        <p>Đây là một ứng dụng web để quản lý học viên.</p>
    </div>

</body>
</html>
